[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-webpackext = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
inflect = "*"
sqlalchemy-serializer = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-jwt--extended = "*"
flask-jwt-extended = "*"

[dev-packages]
honcho = "*"

[requires]
python_version = "3.12"
